# Site URL (PRODUCTION)
PUBLIC_SITE_URL=https://webuy.in.th
SITE_URL=https://webuy.in.th

SITE_KEY=webuy

# Google Analytics (Optional)
# PUBLIC_GA_ID=G-XXXXXXXXXX

# จำกัดจำนวนหน้าตอน dev/build เร็ว (0 = ทั้งหมด)
# FAST_BUILD_LIMIT=5
